.ClockTimesDayRow td {
	vertical-align: middle;
}

.ClockTimesDayRow td>div {
	display: flex;
	align-items: center;
}

.ClockTimesDayRow input {
    width: 65px;
    color: rgba(0, 0, 0, 0.54);
}
.ClockTimesDayRow input:focus {
    color: black;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
    display: none;
}

.ClockTimesDayRow>div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 99;
}
.ClockTimesDayRow>div:last-child {
    flex-grow: 1;
}
