.ClockTimes .ClockTimes-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
}

.ClockTimes .ClockTimes-row input {
    color: rgba(0, 0, 0, 0.54);
}
.ClockTimes .ClockTimes-row input:focus {
    color: black;
}

.ClockTimes .ClockTimes-day-summary {
}

.ClockTimes-day-entry {}

.ClockTimes-day-entry>div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
