.ClockTime-clock {
  position: absolute;
  top: 5vw;
  right: 5vw;
  text-align: right;
  color: rgba(255,255,255, 0.8);
}

.ClockTime .icon-flex {
  justify-content: flex-end;
}

.ClockTime-button-container {
  position: absolute;
  bottom: -20px;
  right: 5vw;
}
.ClockTime .negative {
  color: rgba(255,100,50, 0.8);
}
.ClockTime .positive {
  color: rgba(100,255,50, 0.8);
}