.ClockTimes .ClockTimes-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ClockTimes .ClockTimes-day-summary {
    justify-content: flex-end;
}

.ClockTimes-day-entry {}

.ClockTimes-day-entry>div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}